.header-container {
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100%;
  background-color: white;
}

.header-content {
  height: 100%;
  width: 100%;
  max-width: 975px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  max-height: 40%;
}

.sign-out {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header-content button {
  padding: 10px;
  margin: 2px;
  min-width: 108px;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 839px) {
  .header-content button {
    padding: 8px;
    margin: 2px;
    min-width: 50px;
  }
}
